//$ Colors
$green-primary: #70C174;
$green-primary-hover: #80c284;
$green-secondary: #BEF3C0;
$green-tertiary: #EFF7F2;
$black: #0B0706;
$primary-text: #1D2130;
$primary-text-hover: #2b3147;
$secondary-text: #525560;
$off-white: #EBF0F9;
$border: #E5E5E5;

//$ Clamps generator
  //# 375 - 1310
$c6_5-8_5: clamp(0.40625rem, 0.3561rem + 0.2139vw, 0.53125rem);
$c14-16: clamp(0.875rem, 0.8249rem + 0.2139vw, 1rem);
$c32-48: clamp(2rem, 1.5989rem + 1.7112vw, 3rem);
$c44-64: clamp(2.75rem, 2.2487rem + 2.139vw, 4rem);
$c48-96: clamp(3rem, 1.7968rem + 5.1337vw, 6rem);
$c16-32: clamp(1rem, 0.5989rem + 1.7112vw, 2rem);
$c8-16: clamp(0.5rem, 0.2995rem + 0.8556vw, 1rem);
$c15-24: clamp(0.9375rem, 0.7119rem + 0.9626vw, 1.5rem);
$c12-24: clamp(0.75rem, 0.4492rem + 1.2834vw, 1.5rem);
$c18-24: clamp(1.125rem, 0.9746rem + 0.6417vw, 1.5rem);
$c6-8: clamp(0.375rem, 0.3249rem + 0.2139vw, 0.5rem);
$c32-64: clamp(2rem, 1.1979rem + 3.4225vw, 4rem);
$c22-28: clamp(1.375rem, 1.2246rem + 0.6417vw, 1.75rem);
$c380-420: clamp(23.75rem, 22.7473rem + 4.2781vw, 26.25rem);
$c140-158: clamp(8.75rem, 8.2988rem + 1.9251vw, 9.875rem);
$c186-204: clamp(11.625rem, 11.1738rem + 1.9251vw, 12.75rem);
$c149-165: clamp(9.3125rem, 8.7293rem + 2.4883vw, 10.3125rem);
$c46-92: clamp(2.875rem, 1.7219rem + 4.9198vw, 5.75rem);
$c15-48: clamp(0.9375rem, 0.1103rem + 3.5294vw, 3rem);
$c30-40: clamp(1.875rem, 1.6243rem + 1.0695vw, 2.5rem);
$c10-20: clamp(0.625rem, 0.3743rem + 1.0695vw, 1.25rem);
$c16-20: clamp(1rem, 0.8997rem + 0.4278vw, 1.25rem);
$c15-60: clamp(0.9375rem, -0.1905rem + 4.8128vw, 3.75rem);
$c15-27: clamp(0.9375rem, 0.6367rem + 1.2834vw, 1.6875rem);
$c42-56: clamp(2.625rem, 2.2741rem + 1.4973vw, 3.5rem);
$c24-48: clamp(1.5rem, 0.8984rem + 2.5668vw, 3rem);
$c10-12: clamp(0.625rem, 0.5749rem + 0.2139vw, 0.75rem);
$c40-56: clamp(2.5rem, 2.0989rem + 1.7112vw, 3.5rem);
$c18-20: clamp(1.125rem, 1.0749rem + 0.2139vw, 1.25rem);
$c32-40: clamp(2rem, 1.1123rem + 1.6949vw, 2.5rem);
$c170-210: clamp(10.625rem, 6.1864rem + 8.4746vw, 13.125rem);
$c54-64: clamp(3.375rem, 2.2654rem + 2.1186vw, 4rem);

  //# 838 - 1310
$c248-366: clamp(15.5rem, 2.4063rem + 25vw, 22.875rem);
$c345-544: clamp(21.5625rem, -0.5193rem + 42.161vw, 34rem);
  //# 375 - 838
$c345-838: clamp(21.5625rem, -3.3936rem + 106.4795vw, 52.375rem);